<div class="content">
  <div class="container-fluid">
    <!-- your content here -->
    <div class="col-md-12">
      <button class="btn btn-danger">
        <div class="card-icon"><i class="fas fa-arrow-left"></i>
        </div>
      </button>
    </div>

    <b class="caret"> <p  class="text text-xl-center" style="font-size: xx-large"> JOB ORDER </p></b>


    <div class="card ">
      <div  class="card-header card-header-info card-header-icon">
        <div  class="card-icon"><i class="fas fa-car"></i>
        </div>
        <h4 class="card-title"></h4></div>
      <div  class="card-body ">

        <p>VEHICLE DETAILS</p>

        <div  class="row">

          <div class="col-md-2">
            <div class="form-group">
              <label >Vehilce Number</label>
              <br>
              <input type="text" id="vehiNumber" class="form-control" (keyup)="searchVehicleDetailsByNumber($event)" [(ngModel)]="searchVehicleNumber">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>

          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label >Engine Number</label>
              <br>
              <input type="text" id="vehiEngineNumber" class="form-control" name="engineNumber" [(ngModel)]="engineNumber">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
        </div>


        <div  class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label>Vehicle Class</label>
              <br>
              <input type="text" id="vehiClass" class="form-control" name="engineNumber" [(ngModel)]="vehicleClass">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label >Make</label>
              <br>
              <input type="text" id="vehiMake" class="form-control" name="engineNumber" [(ngModel)]="vehicleMake">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label >Model</label>
              <br>
              <input type="text" id="vehiModel" class="form-control" name="engineNumber" [(ngModel)]="vehicleModel">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label >Year</label>
              <br>
              <input type="text" id="vehiYear" class="form-control" name="engineNumber" [(ngModel)]="yearOfManufacture">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
        </div>
        <p>CUSTOMER DETAILS</p>

        <div  class="row">

          <div class="col-md-3">
            <div class="form-group">
              <label >Customer Name</label>
              <br>
              <input type="text" id="custName" class="form-control" name="engineNumber" [(ngModel)]="customername">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>

          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label >Customer Phone Number</label>
              <br>
              <input type="text" id="custPhoneNum" class="form-control" name="engineNumber" [(ngModel)]="customerphone">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
        </div>

        <div  class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label >Customer Email</label>
              <br>
              <input type="text" id="custEmail" class="form-control" name="engineNumber" [(ngModel)]="customeremail" >
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label >Customer Address</label>
              <br>
              <input type="text" id="custAddress" class="form-control" name="engineNumber" [(ngModel)]="customeraddress">
              <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">JOBS TYPES
            <small class="description">   Change tabs for other jobs</small>
          </h4>
        </div>
        <div class="card-body ">
          <ul class="nav nav-pills nav-pills-info" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                Detail
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                Lube
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                Service
              </a>
            </li>
          </ul>
          <div class="tab-content tab-space">
            <div class="tab-pane active" id="link1">
              <!-- Detailing Job start -->
              <div class="col-md-12">
                <div _ngcontent-qmr-c2="" class="card  ">
                  <div _ngcontent-qmr-c2="" class="card-header card-header-info card-header-icon ">
                    <div _ngcontent-qmr-c2="" class="card-icon"><i class="fas fa-store"></i>
                    </div>
                    <h4 _ngcontent-qmr-c2="" class="card-title"></h4></div>
                  <div _ngcontent-qmr-c2="" class="card-body ">
                    <div _ngcontent-qmr-c2="" class="row">

                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-3">
                              <form class="form-inline ml-auto">
                                <div class="form-group bmd-form-group">
                                  <input type="text" class="form-control" placeholder="Search Job">
                                </div>
                                <button type="submit" class="btn btn-raised btn-fab btn-round">
                                  <i class="fas fa-search"></i>
                                </button>
                              </form>
                            </div>
                            <div class="col-md-2">
                              <div class="dropdown">
                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                  Make <!-- Current make data-->
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">One more separated link</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="dropdown">
                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                  Model <!-- Current make data-->
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">One more separated link</a></li>
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <div class="dropdown">
                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                  Item/Job <!-- Current make data-->
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">One more separated link</a></li>
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <button  class="btn btn-success"
                                       rel="tooltip" type="button"><i class="fas fa-plus"></i>
                              </button>
                            </div>

                          </div>
                        </div>
                      </div>


                      <div  class="col-md-12">
                        <div  class="card">
                          <div
                            class="card-header card-header-rose card-header-icon">

                            <h4  class="card-title"><b>Detailing Jobs</b></h4></div>
                          <div  class="card-body">
                            <div  class="row">

                            </div>
                            <div  class="table-responsive">
                              <table  class="table">
                                <thead >
                                <tr >
                                  <th  class="text-center">#</th>
                                  <th > Description </th>
                                  <th >Make</th>
                                  <th >Model</th>
                                  <th >Item</th>
                                  <th >Price</th>
                                  <th ></th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr >
                                  <td  class="text-center">1</td>
                                  <td >Front Carpet</td>
                                  <td >
                                    <div class="dropdown">
                                      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        For Audi <!-- Current make data-->
                                        <b class="caret"></b>
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                      </ul>
                                    </div>                  </td>

                                  <td >
                                    <div class="dropdown">
                                      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        A3 <!-- Current model data-->
                                        <b class="caret"></b>
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                      </ul>
                                    </div></td>
                                  <td >
                                    <div class="dropdown">
                                      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        AudiA3FRC32<!-- Current item data-->
                                        <b class="caret"></b>
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                      </ul>
                                    </div></td>

                                  <td >Rs. 29500</td>
                                  <td  class="td-actions ">
                                    <button  class="btn btn-danger"
                                             rel="tooltip" type="button"><i
                                      class="material-icons">close</i>
                                    </button>
                                  </td>
                                </tr>
                                <tr >
                                  <td  class="text-center">1</td>
                                  <td >Rim Cups</td>
                                  <td >For Audi</td>
                                  <td >A4</td>
                                  <td >Falken 2232</td>
                                  <td >Rs. 29500</td>
                                  <td  class="td-actions ">
                                    <button  class="btn btn-danger"
                                             rel="tooltip" type="button"><i
                                      class="material-icons">close</i>
                                    </button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="link2">
              <!-- lube job starts here-->
              <div class="col-md-12">
                <div  class="card">
                  <div  class="card-header card-header-success card-header-icon ">
                    <div  class="card-icon"><i  class="material-icons">assignment</i>
                    </div>
                    <h4  class="card-title"></h4></div>
                  <div class="card-body ">
                    <div class="row">

                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <form class="form-inline ml-auto">
                                <div class="form-group bmd-form-group">
                                  <input type="text" class="form-control" placeholder="Search Lube Type">
                                </div>
                                <button type="submit" class="btn btn-raised btn-fab btn-round">
                                  <i class="fas fa-search"></i>
                                </button>
                              </form>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label >Lube</label>
                                <br>
                                <input type="text" id="lubeadded" class="form-control" name="engineNumber" >
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="dropdown">
                                <a href="#3" class="btn dropdown-toggle" data-toggle="dropdown">
                                  Item <!-- Item description-->
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="#3">Action</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#3">Separated link</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#3">One more separated link</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Change
                                  <span class="circle">
                                                        <span class="check"></span>
                                                      </span>
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"> Top-Up
                                  <span class="circle">
                                                        <span class="check"></span>
                                                      </span>
                                </label>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <div class="dropdown">
                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                  Item/Job <!-- Current make data-->
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">One more separated link</a></li>
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <button  class="btn btn-success"
                                       rel="tooltip" type="button"><i
                                class="material-icons">add</i>
                              </button>
                            </div>

                          </div>
                        </div>
                      </div>


                      <div  class="col-md-12">
                        <div  class="card">
                          <div
                            class="card-header card-header-rose card-header-icon">

                            <h4  class="card-title"><b>Lube Jobs</b></h4></div>
                          <div  class="card-body">
                            <div  class="row">

                            </div>
                            <div  class="table-responsive">
                              <table  class="table">
                                <thead >
                                <tr >
                                  <th  class="text-center">#</th>
                                  <th > Lube category </th>
                                  <th >Item Used</th>
                                  <th >Change/Top-Up</th>
                                  <th >Quantity</th>
                                  <th >Price</th>
                                  <th ></th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr >
                                  <td  class="text-center">1</td>
                                  <td >Engine Oil</td>
                                  <td >
                                    <div class="dropdown">
                                      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        Caltex0012 <!-- Current make data-->
                                        <b class="caret"></b>
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#">Valvoline0231</a></li>
                                        <li><a href="#">Mobil322</a></li>
                                        <li><a href="#">ValvolineEng23</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                      </ul>
                                    </div>                  </td>

                                  <td >
                                    <div class="form-check">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios" id="change1"
                                               value="option1"> Change
                                        <span class="circle">
                                                                <span class="check"></span>
                                                              </span>
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               name="exampleRadios" id="topup1"
                                               value="option2"> Top-Up
                                        <span class="circle">
                                                                <span class="check"></span>
                                                              </span>
                                      </label>
                                    </div></td>
                                  <td>
                                    <div class="form-group">
                                      <input type="text" id="lubeQuantity" class="form-text" name="engineNumber" >
                                    </div>
                                  </td>

                                  <td >Rs. 2400</td>
                                  <td  class="td-actions ">
                                    <button  class="btn btn-danger"
                                             rel="tooltip" type="button"><i
                                      class="material-icons">close</i>
                                    </button>
                                  </td>
                                </tr>
                                <tr >
                                  <td  class="text-center">1</td>
                                  <td >Rim Cups</td>
                                  <td >For Audi</td>
                                  <td >A4</td>
                                  <td >Falken 2232</td>
                                  <td >Rs. 29500</td>
                                  <td  class="td-actions ">
                                    <button  class="btn btn-danger"
                                             rel="tooltip" type="button"><i
                                      class="material-icons">close</i>
                                    </button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="link3">



            </div>
          </div>
        </div>
      </div>
    </div>


    <!--container fluid over-->
  </div>
</div>
