<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fas fa-users"></i>
        </div>
        <h4 class="card-title">Low Stock Level</h4>
      </div>
      <div class="card-body">
        <div class="row" >




        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>


              <th class="text-center">Item Name</th>
              <th class="text-center">Make Name</th>
              <th class="text-center">Model Name</th>
              <th class="text-center">Quantity On Hand</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lowStock of LowStockLevel">

              <td class="text-center">
                {{lowStock.itemName}}
              </td>
              <td class="text-center">
                {{lowStock.makeName}}
              </td>
              <td class="text-center">
                {{lowStock.modelName}}
              </td >
              <td style="color: red; font-size: 25px ;font-style: inherit" class="text-center">
                {{lowStock.qtyOnHand}}
              </td>
            </tr>
            <!--<tr *ngIf="searchEmployeeValuesIf;else elseBlock">-->
              <!--<td colspan="8" class="alert alert-danger" style="text-align: center">-->
                <!--No Items In low Stock Level-->

              <!--</td>-->
            <!--</tr>-->

            <!--<ng-template #elseBlock>-->

              <!--<tr>-->
                <!--<td class="text-center">-->
                  <!--{{searchEmployeeDetails.firstName}}-->
                <!--</td>-->
                <!--<td class="text-center">-->
                  <!--{{searchEmployeeDetails.lastName}}-->
                <!--</td>-->
                <!--<td class="text-center">-->
                  <!--{{searchEmployeeDetails.email}}-->
                <!--</td >-->

                <!--<td class="text-center">-->
                  <!--{{searchEmployeeDetails.nic}}-->
                <!--</td>-->
                <!--<td>-->
                  <!--{{searchEmployeeDetails.address}}-->
                <!--</td>-->
                <!--<td class="text-center">-->
                  <!--{{searchEmployeeDetails.birthday}}-->
                <!--</td>-->
                <!--<td class="text-center">-->
                  <!--{{searchEmployeeDetails.phoneNumber}}-->
                <!--</td >-->

                <!--<td class="td-actions ">-->
                  <!--<button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteEmployee()">-->

                  <!--</button>-->
                <!--</td>-->
              <!--</tr>-->

            <!--</ng-template>-->

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
