
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">search</i>
                                </div>
                                <h4 class="card-title">Search  Vehicle</h4>
                            </div>
                            <div class="card-body">
                                <div class="row" >

                                    <div class="col-md-4" style="margin-left: 250px">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Search By Vehicle Name</label>
                                            <input type="text" class="form-control" style="width: 300px" [(ngModel)]="searchVehicleNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="margin-left: -200px ;margin-top: 25px">
                                        <button type="submit" class="btn btn-rose pull-right" (click)="searchVehicleDetailsByNumber()">   <i class="material-icons">search</i></button>
                                    </div>

                                </div>

                                <div class="table-responsive">
                                    <table class="table" id="vehicleTable">
                                        <thead>
                                        <tr>
                                            <!--<th class="text-center">#</th>-->

                                            <th>Name of the current owner</th>
                                            <th class="text-center">Nic</th>
                                            <th class="text-center">Vehicle Number</th>
                                            <th class="text-center">Engine number</th>
                                            <th class="text-center">Vehicle class</th>
                                            <th class="text-center">Model</th>
                                            <th class="text-center">Year of manufacture</th>
                                            <!--<th >Date of registration</th>-->
                                            <!--<th >Engine capacity</th>-->
                                            <!--<th >Fuel type</th>-->
                                            <!--<th >CR Type</th>-->
                                            <!--<th>Type of Body</th>-->
                                        <!--</tr>-->
                                        </thead>
                                        <tbody>
                                        <tr *ngIf="searchVehicleValuesIf;else elseBlock">
                                            <td colspan="8" class="alert alert-danger" style="text-align: center">
                                                Vehicle Not Found
                                            </td>
                                        </tr>

                                        <ng-template #elseBlock>
                                            
                                            <tr>
                                                <td class="text-center">
                                                    {{searchVehicleDetails.customer.firstName}}
                                                </td>
                                                <td class="text-center">
                                                    {{searchVehicleDetails.customer.nic}}
                                                </td>
                                                <td class="text-center">
                                                    {{searchVehicleDetails.vehicleId}}
                                                </td >
                                                
                                                <td class="text-center">
                                                    {{searchVehicleDetails.vehicleNumber}}
                                                </td>
                                                <td>
                                                    {{searchVehicleDetails.vehicleClass}}
                                                </td>
                                                <td class="text-center">
                                                    {{searchVehicleDetails.vehicleModel}}
                                                </td>
                                                <td class="text-center">
                                                    {{searchVehicleDetails.yearOfManufacture}}
                                                </td >
                                               
                                                <td class="td-actions ">
                                                    <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteCustomer()">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>

                                        </ng-template>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">Update Vehicle Details

                            </h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label >Customer Nic</label>
                                            <br>
                                            <input type="text" class="form-control" value="{{searchVehicleDetails.customer?.nic}}" >
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label >Vehicle Number</label>
                                            <br>
                                            <input type="text" id="vehicleNumber" class="form-control" name="vehicleNumber" value="{{searchVehicleDetails.vehicleId}}">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label >Engine number</label>
                                            <br>
                                            <input type="text" id="engineNumber" class="form-control" name="engineNumber" value="{{searchVehicleDetails.engineNumber}}">
                                            <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                                        </div>
                                    </div>

                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-md-11">
                                        <!--<mat-form-field>-->
                                        <label >Vehicle Class</label>
                                        <br>
                                        <div class="form-group">
                                            <!--<label for="exampleFormControlSelect1">Example select</label>-->
                                            <select class="form-control" id="vehicleClass" >
                                                <option  value="B1"  >A1</option>
                                                <option  value="B"  >A</option>
                                                <option  value="B1"  >B1</option>
                                                <option  value="B"  >B</option>
                                                <option  value="C1" >C1</option>
                                                <option  value="C">C</option>
                                                <option  value="CE">CE</option>
                                                <option  value="D1">D1</option>
                                                <option  value="D">D</option>
                                                <option  value="DE">DE</option>
                                                <option value="G1">G1</option>
                                                <option  value="G">G</option>
                                                <option  value="J">J</option>
                                            </select>
                                        </div>


                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label >Model</label>
                                            <br>
                                            <input type="email" class="form-control" id="vehicleModel" name="vehicleModel" value="{{searchVehicleDetails.vehicleModel}}" >
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">




                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label >Manufacture Date</label>
                                            <br>
                                            <input  type="date"  class="form-control" id="year" name="yearOfManufacture" value="{{searchVehicleDetails.yearOfManufacture}}" >

                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-rose pull-right" (click)="addVehicleDetails()">Add Vehicle Details</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">Update Customer Details

                            </h4>
                        </div>
                        <div class="card-body">
                         

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  >Fist Name</label>
                                            <br>
                                            <input type="text" class="form-control" name="firstName" value="{{searchVehicleDetails.customer?.firstName}}"[(ngModel)]="updateCustomerDetails.firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  >Last Name</label>
                                            <br>
                                            <input type="text" class="form-control" name="lastName"   value="{{searchVehicleDetails.customer?.lastName}}"[(ngModel)]="updateCustomerDetails.lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  >Email address</label>
                                            <br>
                                            <input type="email" class="form-control" name="email" value="{{searchVehicleDetails.customer?.email}}" [(ngModel)]="updateCustomerDetails.email">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label  >Nic</label>
                                            <br>
                                            <input type="text" class="form-control" name="nic" value="{{searchVehicleDetails.customer?.nic}}" [(ngModel)]="updateCustomerDetails.nic">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label  >Adress</label>
                                            <br>
                                            <input type="text" class="form-control" name="address"  value="{{searchVehicleDetails.customer?.address}}" [(ngModel)]="updateCustomerDetails.address">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label  >Birthday</label>
                                            <br>
                                            <input type="text" class="form-control" name="birthday"  value="{{searchVehicleDetails.customer?.birthday}}" [(ngModel)]="updateCustomerDetails.birthday">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label  >Phone Number</label>
                                            <br>
                                            <input type="text" class="form-control" name="phoneNumber" value="{{searchVehicleDetails.customer?.phoneNumber}}" [(ngModel)]="updateCustomerDetails.phoneNumber">
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-rose pull-right" (click)="UpdateCustomerDetails()">Update Details</button>
                                <div class="clearfix"></div>
                           
                        </div>
                    </div>
                </div>
            </div>

       
        <!--<script>-->
            <!--var table = document.getElementById('vehicleTable');-->
            <!--for(var i = 1; i < table.rows.length; i++)-->
            <!--{-->
                <!---->
                <!--//for(var j=1;j<table.column.longth;j++){-->
                <!--table.rows[i].onclick = function()-->
               <!---->
                <!--{-->
                    <!--//rIndex = this.rowIndex;-->
                    <!--console.log('FFFf');-->
                    <!--document.getElementById("vehicleNumber").value = this.cells[0].innerHTML;-->
                    <!--document.getElementById("nic").value = this.cells[1].innerHTML;-->
                    <!--document.getElementById("vehicleNumber").value = this.cells[2].innerHTML;-->
                    <!--document.getElementById("engineNumber").value =this.cells[3].innerHTML;-->
                    <!--document.getElementById("vehicleClass").value=this.cells[4].innerHTML;-->
                    <!--document.getElementById("vehicleModel").value=this.cells[5].innerHTML;-->
                    <!--document.getElementById("year").value=this.cells[6].innerHTML;-->
                   <!---->
                    <!---->

                   <!---->
                <!--};-->
                <!---->



            <!--}-->
        <!--</script>-->

