


<div class="container-fluid">
  <!-- your content here -->

  <!--<div class="alert alert-with-icon" data-notify="container">-->
    <!--<i class="fas fa-envelope" data-notify="icon"></i>-->
    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
      <!--<i class="material-icons">close</i>-->
    <!--</button>-->
    <!--<span data-notify="message"> Low Stocks </span>-->
  <!--</div>-->

  <div class="col-xl-auto">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title"> INCOME STATISTICS
          <small class="description"></small>
        </h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-stats" style="box-shadow:0 1px 6px">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <i class="fas fa-store-alt"></i>
                </div>
                <p class="card-category">Total Sales</p>
                <h3 class="card-title">Rs. {{totalSales}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons"></i> For Today
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-stats" style="box-shadow:0 1px 6px">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <i class="fas fa-file-alt"></i>
                </div>
                <p class="card-category">Jobs</p>
                <h3 class="card-title">{{totalJobCount}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons"></i> For Today
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-stats" style="box-shadow:0 1px 6px">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <i class="fas fa-store-alt"></i>
                </div>
                <p class="card-category">Total Sales</p>
                <h3 class="card-title">Rs. {{monthlySales}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons"></i> For This Month
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-auto">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title"> OUTCOME STATISTICS
          <small class="description"></small>
        </h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-stats" style="box-shadow:0 1px 6px">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <!--<i class="fas fa-store-alt"></i>-->
                  <i class="fas fa-money-check-alt"></i>
                </div>
                <p class="card-category">Total OutCome</p>
                <h3 class="card-title">Rs. {{totalOutComeForToday}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons"></i> For Today
                </div>
              </div>
            </div>
          </div>




          <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-stats" style="box-shadow:0 1px 6px">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <!--<i class="fas fa-store-alt"></i>-->
                  <i class="fas fa-money-check-alt"></i>
                </div>
                <p class="card-category">Total OutCome</p>
                <h3 class="card-title">Rs. {{monthlyOutComeForMonth}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons"></i> For This Month
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">



</div>

