

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">perm_identity</i>
        </div>
        <h4 class="card-title">Add Stock Details

        </h4>
      </div>
      <br>
      <br>
      <div class="card-body">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label >Select Supplier Company</label>
              <br>

              <select class="form-control "  data-style="select-with-transition" [(ngModel)]="selectedSupplierCompany" #mySelect1 (change)="getSuppliersNames(mySelect1.value)" >
                <option  *ngFor="let sup of suppliers  ">{{sup.companyName}}</option>

              </select>
            </div>

          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label >Select Supplier Name</label>
              <br>
              <select class="form-control "  data-style="select-with-transition" [(ngModel)]="selectedsupplierName" #mySelect2 (change)="getSuppliersNames(mySelect1.value)">

                <option  *ngFor="let names of suppliersNames  ">{{names.companyName}}</option>

              </select >

            </div>

          </div>
        </div>

        <div class="row">

          <!--<div class="col-sm-2">-->
          <!--<div class="form-group">-->
          <!--<label>Barcode</label>-->
          <!--&lt;!&ndash;<input type="text" class="form-control" (keyup)="searchItemDetailsByBarcode($event)" [(ngModel)]="seachItemBarcode">&ndash;&gt;-->
          <!--<input type="text" class="form-control" >-->

          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<div class="form-group">-->
              <!--<label>Item Name</label>-->
              <!--<input type="text" class="form-control" name="itemName"[ngModelOptions]="{standalone: true}" [(ngModel)]="searchItemName" (keyup)="searchItemDetailsByName($event)" >-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
              <!--<label> Search Item</label>-->
              <!--<br>-->
              <!--<input type="text" class="form-control" placeholder="Search Item"  [ngModelOptions]="{standalone: true}" [(ngModel)]="searchItem1" (keyup)="searchItemDetailsByName1($event)">-->
            <!--</div>-->
          <!--</div>-->
          <div class="col-sm-3">
            <div class="form-group">
              <br>
              <br>
              <label style="margin-top: 10px">Search Item</label>
              <input type="text" class="form-control" name="Search Item" [ngModelOptions]="{standalone: true}"[(ngModel)]="searchStockItemName" (keyup)="searchItemDetailsByName($event)" style="margin-top: -12px">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label >Select Item Name</label>

              <select class="form-control "  data-style="select-with-transition" [(ngModel)]="selectedItem" #mySelect2 (change)="getAllItemDetailsToUI(mySelect2.value)">

                <option  *ngFor="let itemsS of searchItemDetailsArray  " [ngValue]="itemsS">{{itemsS.itemName}}</option>

              </select >

            </div>

          </div>
          <!--<div class="col-md-2">-->

            <!--<div class="form-group">-->
              <!--<label >Select Item</label>                                                                             &lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
              <!--<select class="form-control " data-style="select-with-transition"  [(ngModel)]="insertItemName1" #mySelect1 (change)="getUnitPrice1(mySelect1.value)">          &lt;!&ndash;<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">&ndash;&gt;-->
                <!--<option *ngFor="let make of searchItemDetails1" [value]="make.itemName">{{make.itemName}}</option>       &lt;!&ndash;Item/Job &lt;!&ndash; Current make data&ndash;&gt;&ndash;&gt;-->
              <!--</select>                                                                                                    &lt;!&ndash;<b class="caret"></b>&ndash;&gt;-->
            <!--</div>                                                                                                       &lt;!&ndash;</a>&ndash;&gt;-->

          <!--</div>-->


          <div class="col-sm-3">
            <br>
            <div class="form-group" style="margin-top: -12px">
              <br>

              <label>Buying Price</label>
              <input type="number" class="form-control" name="buyingPrice" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchBuyingPrice" style="margin-top: 4px">
            </div>
          </div>
          <div class="col-sm-3">
            <br>
            <div class="form-group" style="margin-top: -12px">

              <br>
              <label>Item Id</label>
              <input type="text" class="form-control" name="itemId" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchItemDetails.itemId" style="margin-top: 4px" disabled>
              <!--<input type="text" class="form-control" name="itemId" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.itemId" style="margin-top: 4px">-->

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Retail Price</label>
              <!--<input type="number" class="form-control" name="retailPrice"[ngModelOptions]="{standalone: true}" [(ngModel)]="searchRetailPrice">-->
              <input type="number" class="form-control" name="retailPrice"[ngModelOptions]="{standalone: true}" [(ngModel)]="searchRetailPrice">

            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Quantity</label>
              <input type="number" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="itemQuantity">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Quantity On Hand</label>
              <input type="number" class="form-control" name="itemQty" [ngModelOptions]="{standalone: true}"[(ngModel)]="searchItemDetails.quantityOnHand" disabled>
            </div>
          </div>
          <!--<div class="col-sm-2">-->
          <!---->
          <!--</div>-->
          <div class="col-sm-2">
            <button type="submit" class="btn btn-behance pull-right" (click)="addToItemTable()">Add To Table</button>

          </div>
        </div>
        <br>
        <br>
        <div class="row">

          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th>
                ItemId
              </th>
              <th>
                ItemName
              </th>
              <th>
                Selling Price
              </th>

              <th>
                Quantity
              </th>

              <th>
                BuyingPrice
              </th>

              <th>
                Quantity On Hand
              </th>

              </thead>
              <tbody>

              <tr *ngFor="let items of itemsTable async" [attr.id]="items.item.barCode">
                <td>
                  {{items.item.itemId}}
                </td>
                <td>
                  {{items.item.itemName}}
                </td>
                <td>
                  {{items.item.quantityOfPrice}}
                </td>
                <td>
                  {{items.quantity}}
                </td>
                <td>
                  {{items.buyingPrice}}
                </td>
                <td>
                  {{items.item.quantityOnHand}}
                </td>

                <td class="td-actions ">
                  <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteRow(items.item.itemId)">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-1"></div>


          <div class="col-sm-2">
            <div class="form-group">
              <label>Amount</label>
              <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}"[(ngModel)]="totAmount">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-1"></div>


          <div class="col-sm-2">
            <!--<button type="submit" class="btn btn-behance pull-right" (click)="addToItemTable()">Add To Table</button>-->

            <button type="submit" class="btn btn-behance pull-right" (click)="saveStock()">Save Details</button>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="material-icons">perm_identity</i>
          </div>
          <h4 class="card-title">Add Item Details

          </h4>
        </div>
        <div class="card-body">

          <div class="row">


          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Item Name</label>
                <input type="text" class="form-control"  [(ngModel)]="itemName" >
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Stock Level</label>
                <input type="text" class="form-control"  [(ngModel)]="stockLevel" >
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label >Select Make</label>
                <br>
                <select class="form-control " data-style="select-with-transition" [(ngModel)]="insertselectedMake" #mySelect (change)="getMakeModelDetails(mySelect.value)">

                  <option value="Any">Any</option>
                  <option >Abarth</option>
                  <option>Acura</option>
                  <option>Alfa Romeo</option>
                  <option>Ambassador</option>
                  <option>Aprilia</option>
                  <option>Audi</option>
                  <option>Austin</option>
                  <option>Bajaj</option>
                  <option>BMW</option>
                  <option>Cadillac</option>
                  <option>Caterpillar</option>
                  <option>Nissan</option>
                  <option>Suzuki</option>
                  <option>Toyota</option>
                  <option>Honda</option>
                  <option>530i</option>


                </select>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label >Select Model</label>
                <select class="form-control " data-style="select-with-transition"  [(ngModel)]="insertItemModel">
                  <option *ngFor="let make of searchMakesByModel" [value]="make.modelName">{{make.modelName}}</option>
                </select>
              </div>

            </div>
          </div>

          <button type="submit" class="btn btn-behance pull-right" (click)="addToItemsTable()">Add To Table</button>
          <!--<button type="submit" class="btn btn-rose pull-right" (click)="addItemsToDB()">Save Details</button>-->
          <div class="clearfix"></div>

          <div class="row">

            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Name Of Item
                </th>
                <th>
                  Name Of Make
                </th>
                <th>
                  Name Of Model
                </th>
                <th>
                  Model Id
                </th>
                <th>
                  Stock Level
                </th>
                </thead>
                <tbody>

                <tr  *ngFor="let item of insertItemToTable  ">

                  <td>
                    {{item.item.itemName}}
                  </td>
                  <td>
                    {{item.makeModel.makeName}}
                  </td>
                  <td>
                    {{item.makeModel.modelName}}
                  </td>
                  <td>
                    {{item.makeModel.makeModelId}}
                  </td>
                  <td>
                    {{item.stockLevel}}
                  </td>
                  <td class="td-actions ">
                    <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteItemTableRow(item.makeModel.modelName)">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
          <button type="submit" class="btn btn-behance pull-right" (click)="addItemsToDB()">Save Details</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="material-icons">perm_identity</i>
          </div>
          <h4 class="card-title">Add Vehicle Type

          </h4>
        </div>
        <div class="card-body">

          <div class="row">


          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label >Select Make</label>
                <br>
                <select class="form-control "  data-style="select-with-transition" [(ngModel)]="selectedMake" >

                  <option>Any</option>
                  <option>Abarth</option>
                  <option>Acura</option>
                  <option>Alfa Romeo</option>
                  <option>Ambassador</option>
                  <option>Aprilia</option>
                  <option>Audi</option>
                  <option>Austin</option>
                  <option>Bajaj</option>
                  <option>BMW</option>
                  <option>Cadillac</option>
                  <option>Caterpillar</option>
                  <option>Nissan</option>
                  <option>Suzuki</option>
                  <option>Toyota</option>
                  <option>Honda</option>
                  <option>530i</option>


                </select>

              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Model Name</label>

                <input  type="text"   class="form-control "  [(ngModel)]="addTableModel" >
                <!--<small [class.d-none]="name.valid || name.untouched" ]>Model Name Is required</small>-->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">

                <button type="submit" class="btn btn-behance pull-right" (click)="addToTable()">Add To Table</button>

              </div>
            </div>
          </div>

          <div class="row">

            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Name Of Make
                </th>
                <th>
                  Name Of Model
                </th>


                </thead>
                <tbody>

                <tr  *ngFor="let brandMake of tableMakeModel  ">

                  <td>
                    {{brandMake.makeName}}
                  </td>
                  <td>
                    {{brandMake.modelName}}
                  </td>

                  <td class="td-actions ">
                    <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteRow(brandMake.modelName)">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
          <button type="submit" class="btn btn-behance pull-right" (click)="addMakeModelDetails()">Save Details</button>


        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <div class="card">


    </div>
  </div>

</div>




