<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fas fa-users"></i>
        </div>
        <h4 class="card-title">Supplier Credit Payments</h4>
      </div>
      <div class="card-body">
        <div class="row" >




        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>

              <th class="text-center">Company Name</th>
              <th class="text-center">Supplier Name</th>
              <th class="text-center">Phone Number</th>
              <th class="text-center">Credit Balance</th>
              <th class="text-center">Date</th>
              <th class="text-center">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let credit of creditPaymentDto">



              <td class="text-center">
                {{credit.company_name}}
              </td>
              <td class="text-center">
                {{credit.agent_name}}
              </td>
              <td class="text-center">
                {{credit.phone_number}}
              </td >
              <td style="color: red; font-size: 25px ;font-style: inherit" class="text-center">
                {{credit.credit_balance}}
              </td>
              <td class="text-center">
                {{credit.stock_payement_date}}
              </td >
              <td class="text-center">
                {{credit.payment}}
              </td >
              <td class="td-actions ">
                <button type="button" rel="tooltip" class="btn btn-behance" onclick="viewPaymentDetails()">
                  <i class="far fa-edit"></i>
                </button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade modal-mini modal-primary" id="myModal10" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-small">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>Update Supplier Payment</p>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Stock Id </label>
              <input type="text" class="form-control" [(ngModel)]="stockId">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Credit Balance </label>
              <input type="text" class="form-control" [(ngModel)]="modelCreditBalance">
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="bmd-label-floating">Pay Amount </label>
            <input type="text" class="form-control" [(ngModel)]="modelAmount">
          </div>
        </div>

      </div>
      <!--<div class="modal-footer justify-content-center">-->


      <div class="row">

        <div class="col-md-12">
          <button type="submit" class="btn btn-behance pull-right" (click)="addMake()" >Save Name</button>
        </div>
      </div>


      <!--</div>-->
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(document).on('click',function(e){
      if($(e.target).hasClass("cus_see_stock")){
        reloadStockForGiven(e.target);
      }
    });
  });
  function showModel() {

    $("#myModal10").model('show');
  }
</script>
