<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-icon card-header-info">

          <h4 class="card-title">Update Supplier Payments

          </h4>
        </div>
        <div class="card-body">
          <form  name="form" >
            <div class="row">


            </div>
            <div class="row">
              <div class="col-sm-3" style="text-align: right;margin-top: 5px;">
                <label  class="control-label " style="font-size:18px;color: black">Stock Id</label>
              </div>
              <div class=" col-sm-7">
                <input name="serviceId" type="text" class="form-control" [(ngModel)] = "creditPaymentDto.stockId" disabled>
                <!--<input name="firstName" type="text" class="form-control" [(ngModel)] = "serviceId" >-->
              </div>

            </div>

            <br>
            <div class="row">
              <div class="col-sm-2" style="text-align: right;margin-top: 5px;">
              </div>
              <div class="col-sm-3" style="text-align: left;margin-top: 5px;">
                <label  class="control-label " >Amount</label>
              </div>
              <div class=" col-sm-5">
                <input name="firstName" type="text" class="form-control" [(ngModel)] = "creditPaymentDto.payment" disabled>
              </div>

            </div>
<br>
            <div class="row">
              <div class="col-sm-2" style="text-align: right;margin-top: 5px;">
              </div>
              <div class="col-sm-3" style="text-align: left;margin-top: 5px;">
                <label  class="control-label " >Credit Balance</label>
              </div>
              <div class=" col-sm-5">
                <input name="amount" type="text" class="form-control" [(ngModel)] = "creditPaymentDto.credit_balance" disabled>
              </div>

            </div>

            <br>
            <div class="row">
              <div class="col-sm-2" style="text-align: right;margin-top: 5px;">
              </div>
              <div class="col-sm-3" style="text-align: left;margin-top: 5px;">
                <label  class="control-label " >Date</label>
              </div>
              <div class=" col-sm-5">
                <input name="date" type="text" class="form-control" [(ngModel)] = "date" disabled>
              </div>

            </div>

            <br>
            <div class="row">
              <div class="col-sm-2" style="text-align: right;margin-top: 5px;">
              </div>
              <div class="col-sm-3" style="text-align: left;margin-top: 5px;">
                <label  class="control-label " >Payment Type</label>
              </div>

            </div>

            <br>

            <div class="row">
              <div class="col-sm-2" style="text-align: right;margin-top: 5px;">
              </div>
              <div class="col-sm-3" style="text-align: left;margin-top: 5px;">
                <label  class="control-label " >Pay Amount</label>
              </div>
              <div class=" col-sm-5">
                <input name="payAmount" id="payAmount" type="text" class="form-control" [(ngModel)] = "payAmount" (keyup)="calculateTotal()">
              </div>
            </div>

            <button (click)="updateSupplierPayments()" type="submit" class="btn btn pull-right" >Update Details</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
