
            <div class="container-fluid">


            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                              <i class="fas fa-home"></i>
                            </div>

                            <h4 class="card-title">Search Customer</h4>
                        </div>
                        <div class="card-body">
                            <div class="row" >

                                <div class="col-md-4" style="margin-left: 150px">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Search By Name</label>
                                        <input type="text" class="form-control" style="width: 340px" [(ngModel)]="searchCustomerName">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-behance  pull-left" (click)="searchByCustomerName()">    <i class="fas fa-search"></i></button>
                                </div>

                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr >
                                        <th >Nic</th>
                                        <th>Frist Name</th>
                                        <th>Last Name</th>
                                        <th >Email Address</th>
                                        <th >Address</th>
                                        <th >Birthday</th>
                                        <th >Phone Number</th>
                                        <th ></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <tr *ngIf="searchCustomerValuesIf;else elseBlock ">
                                        <td colspan="8" class="alert alert-danger" style="text-align: center">
                                            Customer Not Found
                                        </td>
                                    </tr>

                                    <ng-template #elseBlock>
                                      <tr *ngFor="let customer of searchCustomerDetails">
                                            <td>
                                                {{customer .nic}}
                                            </td>
                                            <td>
                                                {{customer.firstName}}
                                            </td>
                                            <td>
                                                {{customer.lastName}}
                                            </td>
                                            <td>
                                                {{customer.email}}
                                            </td>
                                            <td>
                                                {{customer.address}}
                                            </td>
                                            <td>
                                                {{customer.birthday}}
                                            </td>
                                            <td>
                                                {{customer.phoneNumber}}
                                            </td>
                                            <td class="td-actions ">
                                                <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteCustomer(customer .nic)">
                                                  <i class="fas fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    </ng-template>

                                    
                                    <!--<tr >-->
                                        <!--<td class="text-center">1</td>-->
                                        <!--<td>Andrew Mike</td>-->
                                        <!--<td>Develop</td>-->
                                        <!--<td>2013</td>-->
                                        <!--<td >&euro; 99,225</td>-->
                                        <!--<td>Galle</td>-->
                                        <!--<td>1995-07-14</td>-->
                                        <!--<td>0772218111</td>-->
                                        <!--<td class="td-actions ">-->
                                            <!--<button type="button" rel="tooltip" class="btn btn-danger">-->
                                                <!--<i class="material-icons">close</i>-->
                                            <!--</button>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                   

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-info ">
                            <div class="card-icon">
                              <i class="fas fa-users"></i>                            </div>
                            <h4 class="card-title">Add Customer Details

                            </h4>
                        </div>
                        <div class="card-body">

                          <form name="form1" [formGroup]="form1">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  >Fist Name</label>
                                            <input type="text" class="form-control" name="firstName" [(ngModel)]="addCustomer.firstName" formControlName="fName" [ngClass]="{'is-invalid':form1.get('fName').touched && form1.get('fName').invalid }" >
                                            <div class="invalid-feedback"  *ngIf="form1.get('fName').touched  && form1.get('fName').invalid">
                                              First Name Is Empty
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating" >Last Name</label>
                                          <input type="text" class="form-control" name="lastName" [(ngModel)]="addCustomer.lastName" formControlName="lName" [ngClass]="{'is-invalid':form1.get('lName').touched && form1.get('lName').invalid }">
                                          <div class="invalid-feedback"  *ngIf="form1.get('lName').touched  && form1.get('lName').invalid">
                                            Last Name Is Empty
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label  >Email address</label>

                                          <input type="text" class="form-control" name="email" [(ngModel)]="addCustomer.email" [ngModelOptions]="{standalone: true}">
                                          <!--<div class="invalid-feedback"  *ngIf="form1.get('email').touched  && form1.get('email').invalid">-->
                                            <!--<div  *ngIf="form1.get('email').errors.required">Email Field Is Empty</div>-->
                                            <!--<div *ngIf="form1.get('email').errors.email" >Email Is Not Valid</div>-->
                                          <!--</div>-->
                                            <!--<input type="email" class="form-control" name="email" [(ngModel)]="addCustomer.email">-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label  >Nic</label>
                                          <input type="text" class="form-control" name="nic" id="nic" [(ngModel)]="addCustomer.nic" formControlName="nic" [ngClass]="{'is-invalid':form1.get('nic').touched && form1.get('nic').invalid }">
                                          <div class="invalid-feedback"  *ngIf="form1.get('nic').touched  && form1.get('nic').invalid">
                                            NIC Is Empty
                                          </div>
                                            <!--<input type="text" class="form-control" name="nic" [(ngModel)]="addCustomer.nic">-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label >Address</label>
                                            <!--<input type="text" class="form-control" name="address" [(ngModel)]="addCustomer.address">-->
                                          <input type="text" class="form-control" name="address" [(ngModel)]="addCustomer.address" formControlName="address" [ngClass]="{'is-invalid':form1.get('address').touched && form1.get('address').invalid }">

                                          <div class="invalid-feedback"  *ngIf="form1.get('address').touched  && form1.get('address').invalid">
                                            <div  *ngIf="form1.get('address').errors.required">Address Field Is Empty</div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label >Birthday</label>
                                            <!--<input type="date" class="form-control" name="birthday" [(ngModel)]="addCustomer.birthday">-->
                                          <input type="date" class="form-control" name="birthday" [(ngModel)]="addCustomer.birthday" formControlName="birthday" [ngClass]="{'is-invalid':form1.get('birthday').touched && form1.get('birthday').invalid }">

                                          <div class="invalid-feedback"  *ngIf="form1.get('birthday').touched  && form1.get('birthday').invalid">
                                            <div  *ngIf="form1.get('birthday').errors.required">Birthday Field Is Empty</div>
                                          </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label >Phone Number</label>
                                            <!--<input type="text" class="form-control" name="phoneNumber"[(ngModel)]="addCustomer.phoneNumber">-->
                                          <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="addCustomer.phoneNumber" formControlName="phoneNumber" [ngClass]="{'is-invalid':form1.get('phoneNumber').touched && form1.get('phoneNumber').invalid}">

                                          <div class="invalid-feedback"  *ngIf="form1.get('phoneNumber').touched  && form1.get('phoneNumber').invalid">
                                            <div  *ngIf="form1.get('phoneNumber').errors.required">Phone Number Field Is Empty</div>
                                            <div  *ngIf="form1.get('phoneNumber').errors.maxlength">Phone Number Must Be in 10 Digits</div>
                                          </div>
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-behance   pull-right" (click)="addCustomerDetails()" [disabled]="!form1.valid">Save Customer Details</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>



                </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header card-header-icon card-header-info">
                    <div class="card-icon">
                      <i class="fas fa-cubes"></i>
                    </div>
                    <h4 class="card-title">Add Vehicle Type

                    </h4>
                  </div>
                  <div class="card-body">

                    <div class="row">


                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label >Select Make</label>
                          <br>
                          <select class="form-control "  data-style="select-with-transition" [(ngModel)]="selectedMake" >

                            <!--<option>Any</option>-->
                            <!--<option>Abarth</option>-->
                            <!--<option>Acura</option>-->
                            <!--<option>Alfa Romeo</option>-->
                            <!--<option>Ambassador</option>-->
                            <!--<option>Aprilia</option>-->
                            <!--<option>Audi</option>-->
                            <!--<option>Austin</option>-->
                            <!--<option>Bajaj</option>-->
                            <!--<option>BMW</option>-->
                            <!--<option>Cadillac</option>-->
                            <!--<option>Caterpillar</option>-->
                            <!--<option>Nissan</option>-->
                            <!--<option>Suzuki</option>-->
                            <!--<option>Toyota</option>-->
                            <!--<option>Honda</option>-->
                            <!--<option>530i</option>-->

                            <option  *ngFor="let names of findAllMakesToArray" [ngValue]="names.makeName">{{names.makeName}}</option>

                          </select>

                        </div>

                      </div>



                        <div class="col-md-6">
                          <button class="btn btn-behance" data-toggle="modal" data-target="#myModal10" style="margin-top: 35px">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>


                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Model Name</label>

                          <input  type="text"   class="form-control "  [(ngModel)]="addTableModel" >
                          <!--<small [class.d-none]="name.valid || name.untouched" ]>Model Name Is required</small>-->
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">

                          <button type="submit" class="btn btn-behance pull-right" (click)="addToTable()">Add To Table</button>

                        </div>
                      </div>
                    </div>

                    <div class="row">

                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                          <th>
                            Name Of Make
                          </th>
                          <th>
                            Name Of Model
                          </th>


                          </thead>
                          <tbody>

                          <tr  *ngFor="let brandMake of tableMakeModel  ">

                            <td>
                              {{brandMake.makeName}}
                            </td>
                            <td>
                              {{brandMake.modelName}}
                            </td>

                            <td class="td-actions ">
                              <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteMakeModel(brandMake.modelName)">
                                <i class="fas fa-times"></i>
                              </button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                    <button type="submit" class="btn btn-behance pull-right" (click)="addMakeModelDetails()">Save Details</button>


                  </div>
                </div>
              </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-info">
                            <div class="card-icon">
                              <i class="fas fa-truck"></i>
                            </div>
                            <h4 class="card-title">Add Vehicle Details

                            </h4>
                        </div>
                        <div class="card-body">
                            <form name="form1" [formGroup]="form">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label>Customer Nic</label>

<br>
                                          <input type="text" class="form-control" name="nic"[(ngModel)]="nic" formControlName="nic1" [ngClass]="{'is-invalid':form.get('nic1').touched && form.get('nic1').invalid }">
                                          <div class="invalid-feedback"  *ngIf="form.get('nic1').touched  && form.get('nic1').invalid">
                                            NIC Field Is Empty
                                          </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label >Vehicle Number</label>
                                            <!--<input type="text" class="form-control" name="vehicleNumber" [(ngModel)]="vehNgModel.vehicleNumber">-->
<br>
                                          <input type="text" class="form-control" name="vehicleNumber"[(ngModel)]="vehNgModel.vehicleNumber" formControlName="vehicleNumber" [ngClass]="{'is-invalid':form.get('vehicleNumber').touched && form.get('vehicleNumber').invalid }">
                                          <div class="invalid-feedback"  *ngIf="form.get('vehicleNumber').touched  && form.get('vehicleNumber').invalid">
                                            VehicleNumber Field Is Empty
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label >Chassis number</label>
                                            <!--<input type="text" class="form-control" name="engineNumber" [(ngModel)]="vehNgModel.engineNumber">-->
                                         <br>
                                          <input type="text" class="form-control" name="engineNumber"[(ngModel)]="vehNgModel.engineNumber" formControlName="engineNumber" [ngClass]="{'is-invalid':form.get('engineNumber').touched && form.get('engineNumber').invalid }">
                                          <div class="invalid-feedback"  *ngIf="form.get('engineNumber').touched  && form.get('engineNumber').invalid">
                                            EngineNumber Field Is Empty
                                          </div>
                                        </div>
                                    </div>

                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-md-11">
                                        <!--<mat-form-field>-->
                                            <label >Vehicle Class</label>
                                        <br>
                                      <input type="text" class="form-control" [(ngModel)]="vehNgModel.vehicleClass" formControlName="vehicleClass" [ngClass]="{'is-invalid':form.get('vehicleClass').touched && form.get('vehicleClass').invalid }">
                                      <div class="invalid-feedback"  *ngIf="form.get('vehicleClass').touched  && form.get('vehicleClass').invalid" >
                                      Vehicle Class Field Is Empty
                                      </div>

                                    </div>
                                </div>
                              <br>
<br>
                          <div class="row">
                            <div class="col-md-6">
                              <label >Select Make</label>
                              <div class="form-group">

                                <br>
                                <br>
                                <select class="form-control " data-style="select-with-transition" [(ngModel)]="insertselectedMake" #mySelect (change)="getMakeModelDetails(mySelect.value)" formControlName="vehicleMake" [ngClass]="{'is-invalid':form.get('vehicleMake').touched && form.get('vehicleMake').invalid }">

                                  <option  *ngFor="let names of findAllMakesToArray" [ngValue]="names.makeName">{{names.makeName}}</option>

                                </select>

                                <div class="invalid-feedback"  *ngIf="form.get('vehicleMake').touched  && form.get('vehicleMake').invalid" >
                                  Vehicle Make Field Is Empty
                                </div>
                              </div>

                            </div>

                            <div class="col-md-6">
                              <button class="btn btn-behance" data-toggle="modal" data-target="#myModal10" style="margin-top: 35px">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <label >Select Model</label>
                              <div class="form-group">

                                <!--<select class="form-control " data-style="select-with-transition"  [(ngModel)]="vehNgModel.vehicleModel" formControlName="vehicleModel" [ngClass]="{'is-invalid':form.get('vehicleModel').touched && form.get('vehicleModel').invalid }">-->
                                  <!--<option *ngFor="let make of searchMakesByModel" [value]="make.modelName">{{make.modelName}}</option>-->
                                <!--</select>-->
                                <select   class="form-control " data-style="select-with-transition"  [(ngModel)]="insertItemModel" formControlName="vehicleModel" [ngClass]="{'is-invalid':form.get('vehicleModel').touched && form.get('vehicleModel').invalid }">
                                  <option disabled>Select Model</option>

                                    <option *ngFor="let make of searchMakesByModel" [value]="make.modelName">{{make.modelName}}</option>


                                </select>

                                <div class="invalid-feedback"  *ngIf="form.get('vehicleModel').touched  && form.get('vehicleModel').invalid" >
                                  Vehicle Model Field Is Empty
                                </div>
                              </div>

                            </div>
                          </div>

                                <!--<div class="row">-->
                                    <!--<div class="col-md-11">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="bmd-label-floating">Model</label>-->
                                            <!--<input type="email" class="form-control"  name="vehicleModel" [(ngModel)]="vehNgModel.vehicleModel">-->
                                            <!--&lt;!&ndash;&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <br>
                              <br>
                                <div class="row">



                                  
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <!--<label >Manufacture Date</label>-->
                                            <!--<br>-->
                                            <!--&lt;!&ndash;<input  type="date"  class="form-control" name="yearOfManufacture" [(ngModel)]="stringDateModel" >&ndash;&gt;-->
                                          <!--<input type="date" class="form-control" name="yearOfManufacture" [(ngModel)]="stringDateModel" formControlName="yearOfManu" [ngClass]="{'is-invalid':form.get('yearOfManu').touched && form.get('yearOfManu').invalid }">-->

                                          <!--<div class="invalid-feedback"  *ngIf="form.get('yearOfManu').touched  && form.get('yearOfManu').invalid">-->
                                            <!--<div  *ngIf="form.get('yearOfManu').errors.required">Manufacture Date Is Empty</div>-->
                                          <!--</div>-->
                                          <label >Manufacture Year</label>
                                          <br>
                                          <!--<input type="date" class="form-control" name="birthday" [(ngModel)]="addCustomer.birthday">-->

                                          <input type="year" class="form-control" name="yearOfManufacture" [(ngModel)]="stringDateModel" formControlName="yearOfManufacture" [ngClass]="{'is-invalid':form.get('yearOfManufacture').touched && form.get('yearOfManufacture').invalid }">
                                          <!--<input type="text"  class="form-control" name="yearOfManufacture"  [(ngModel)]="stringDateModel" formControlName="yearOfManufacture" [ngClass]="{'is-invalid':form.get('yearOfManufacture').touched && form.get('yearOfManufacture').invalid }" >-->
                                          <div class="invalid-feedback"  *ngIf="form.get('yearOfManufacture').touched  && form.get('yearOfManufacture').invalid">
                                            <div  *ngIf="form.get('yearOfManufacture').errors.required">Manufacture year Field Is Empty</div>
                                          </div>
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-behance  pull-right" (click)="addVehicleDetails()" [disabled]="!form.valid">Add Vehicle Details</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

            


            <!--&lt;!&ndash;	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select &ndash;&gt;-->
            <!--<script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>-->
<!--<script>-->
    <!--$(function () {-->
        <!--$('.selectpicker').selectpicker();-->
    <!--});-->
<!--</script>-->


            <div class="modal fade modal-mini modal-primary" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-small">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="fas fa-times"></i></button>
                  </div>
                  <div class="modal-body">
                    <p>Add New Make Name</p>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Make Name</label>
                          <input type="text" class="form-control"  [(ngModel)]="addMakeName" >
                        </div>
                      </div>

                    </div>
                  </div>
                  <!--<div class="modal-footer justify-content-center">-->


                  <div class="row">

                    <div class="col-md-12">
                      <button type="submit" class="btn btn-behance pull-right" (click)="addMake()">Save Name</button>
                    </div>
                  </div>




                  <!--</div>-->
                </div>
              </div>
            </div>


