
            <div class="container-fluid">


            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">Add Vehicle Details

                            </h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Customer Name</label>
                                            <input type="text" class="form-control" name="firstName" [(ngModel)]="cust.firstName">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Vehicle Number</label>
                                            <input type="text" class="form-control" name="vehicleNumber" [(ngModel)]="vehNgModel.vehicleNumber">
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Engine number</label>
                                            <input type="text" class="form-control" name="engineNumber" [(ngModel)]="vehNgModel.engineNumber">
                                            <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                                        </div>
                                    </div>
                                    
                                </div>
                                
                               
                                <div class="row">
                                    <div class="col-md-11">
                                        <mat-form-field>
                                            <label for="exampleFormControlSelect1">Vehicle Class</label>
                                            <br>
                                            <!--<mat-label>Cars</mat-label>-->
                                            <select matNativeControl required id="exampleFormControlSelect1">
                                                <option>A1</option>
                                                <option>A</option>
                                                <option>B1</option>
                                                <option>B</option>
                                                <option>C1</option>
                                                <option>C</option>
                                                <option>CE</option>
                                                <option>D1</option>
                                                <option>D</option>
                                                <option>DE</option>
                                                <option>G1</option>
                                                <option>G</option>
                                                <option>J</option>
                                               
                                            </select>
                                        </mat-form-field>
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Model</label>
                                            <input type="email" class="form-control"  name="vehicleModel" [(ngModel)]="vehNgModel.vehicleModel">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label ></label>
                                            <input placeholder="ManuFacture Date" class="form-control datetimepicker" type="text" ngbDatepicker #d="ngbDatepicker" >

                                        </div>
                                    </div>
                                    <div class="col-md-1"><button class="btn btn-round" (click)="d.toggle()">SelectDate</button></div>
                                </div>
                                

                                <button type="submit" class="btn btn-rose pull-right">Update Details</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">search</i>
                            </div>
                            <h4 class="card-title">Search Customer</h4>
                        </div>
                        <div class="card-body">
                            <div class="row" >

                                <div class="col-md-4" style="margin-left: 150px">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Search By Name</label>
                                        <input type="text" class="form-control" style="width: 300px">
                                    </div>
                                </div>
                                <div class="col-md-4" style="margin-left: -100px ;margin-top: 25px">
                                    <button type="submit" class="btn btn-rose pull-right" >   <i class="material-icons">search</i></button>
                                </div>

                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>

                                        <th>Frist Name</th>
                                        <th>Last Name</th>
                                        <th >Email Address</th>
                                        <th >Nic</th>
                                        <th >Address</th>
                                        <th >Birthday</th>
                                        <th >Phone Number</th>
                                        <th ></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Andrew Mike</td>
                                        <td>Develop</td>
                                        <td>2013</td>
                                        <td >&euro; 99,225</td>
                                        <td>Galle</td>
                                        <td>1995-07-14</td>
                                        <td>0772218111</td>
                                        <td class="td-actions ">
                                            <button type="button" rel="tooltip" class="btn btn-danger">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Andrew Mike</td>
                                        <td>Develop</td>
                                        <td>2013</td>
                                        <td >&euro; 99,225</td>
                                        <td>Mathara</td>
                                        <td>1995-06-14</td>
                                        <td>0772228111</td>
                                        <td class="td-actions ">
                                            <button type="button" rel="tooltip" class="btn btn-danger">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Update Customer Details

                        </h4>
                    </div>
                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" name="firstName" [(ngModel)]="addCustomer.firstName">Fist Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" name="lastName" [(ngModel)]="addCustomer.lastName">Last Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" name="email" [(ngModel)]="addCustomer.email">Email address</label>
                                        <input type="email" class="form-control"> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" name="nic" [(ngModel)]="addCustomer.nic">Nic</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" name="address" [(ngModel)]="addCustomer.address">Adress</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" name="birthday" [(ngModel)]="addCustomer.birthday">Birthday</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating" name="phoneNumber"[(ngModel)]="addCustomer.phoneNumber">Phone Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-rose pull-right" (click)="addCustomerDetails()">Update Details</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            


            <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
            <script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>
