<!--<div class="content">-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; your content here &ndash;&gt;-->
    <!--<div class="col-md-12">-->
    <!--</div>-->

    <!--<b class="caret"><p class="text text-xl-center" style="font-size: xx-large"> JOB ORDER </p></b>-->


    <!--<div class="card">-->
      <!--<div class="card-header card-header-info card-header-icon">-->
        <!--&lt;!&ndash;<div class="card-icon">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fas fa-car"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<h4 class="card-title"></h4></div>-->
      <!--<div class="card-body ">-->

        <!--<ul class="nav nav-pills nav-pills-info" role="tablist">-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link active" data-toggle="tab" href="#link3" role="tablist">-->
              <!--Service-->
            <!--</a>-->
          <!--</li>-->

          <!--<li class="nav-item">-->
            <!--<a class="nav-link " data-toggle="tab" href="#link1" role="tablist">-->
              <!--Detail-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item ">-->
            <!--<a class="nav-link" data-toggle="tab" href="#link2" role="tablist">-->
              <!--Lube-->
            <!--</a>-->
          <!--</li>-->

        <!--</ul>-->
<!--<br>-->

        <!--<p>VEHICLE DETAILS</p>-->

        <!--<div class="row">-->

          <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
              <!--<label>Vehilce Number</label>-->
              <!--<br>-->
              <!--<input type="text" id="vehiNumber" class="form-control" (keyup)="searchVehicleDetailsByNumber()"-->
                     <!--[(ngModel)]="searchVehicleNumber">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->

          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
              <!--<label>Engine Number</label>-->
              <!--<br>-->
              <!--<input type="text" id="vehiEngineNumber" class="form-control" name="engineNumber"-->
                     <!--[(ngModel)]="engineNumber">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
              <!--<label>Vehicle Class</label>-->
              <!--<br>-->
              <!--<input type="text" id="vehiClass" class="form-control" name="engineNumber" [(ngModel)]="vehicleClass">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
              <!--<label>Make</label>-->
              <!--<br>-->
              <!--<input type="text" id="vehiMake" class="form-control" name="engineNumber" [(ngModel)]="vehicleMake">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
              <!--<label>Model</label>-->
              <!--<br>-->
              <!--<input type="text" id="vehiModel" class="form-control" name="engineNumber" [(ngModel)]="vehicleModel">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
              <!--<label>Year</label>-->
              <!--<br>-->
              <!--<input type="text" id="vehiYear" class="form-control" name="engineNumber" [(ngModel)]="yearOfManufacture">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<p>CUSTOMER DETAILS</p>-->

        <!--<div class="row">-->

          <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
              <!--<label>Customer Name</label>-->
              <!--<br>-->
              <!--<input type="text" id="custName" class="form-control" name="engineNumber" [(ngModel)]="customername">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->

          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
              <!--<label>Customer Phone Number</label>-->
              <!--<br>-->
              <!--<input type="text" id="custPhoneNum" class="form-control" name="engineNumber" [(ngModel)]="customerphone">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-md-5">-->
            <!--<div class="form-group">-->
              <!--<label>Customer Email</label>-->
              <!--<br>-->
              <!--<input type="text" id="custEmail" class="form-control" name="engineNumber" [(ngModel)]="customeremail">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label>Customer Address</label>-->
              <!--<br>-->
              <!--<input type="text" id="custAddress" class="form-control" name="engineNumber"-->
                     <!--[(ngModel)]="customeraddress">-->
              <!--&lt;!&ndash;name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->




  <!--</div>-->
<!--</div>-->

<!--<div class="col-md-12">-->
  <!--<div class="card ">-->
    <!--<div class="card-header ">-->
      <!--<h4 class="card-title">JOBS TYPES-->
        <!--<small class="description"> Change tabs for other jobs</small>-->
      <!--</h4>-->
    <!--</div>-->
    <!--<div class="card-body ">-->
      <!--&lt;!&ndash;<ul class="nav nav-pills nav-pills-info" role="tablist">&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="nav-link active" data-toggle="tab" href="#link3" role="tablist">&ndash;&gt;-->
            <!--&lt;!&ndash;Service&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->

        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="nav-link " data-toggle="tab" href="#link1" role="tablist">&ndash;&gt;-->
            <!--&lt;!&ndash;Detail&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item ">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="nav-link" data-toggle="tab" href="#link2" role="tablist">&ndash;&gt;-->
            <!--&lt;!&ndash;Lube&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->

      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
      <!--<div class="tab-content tab-space">-->
        <!--<div class="tab-pane active" id="link1">-->
          <!--&lt;!&ndash; Detailing Job start &ndash;&gt;-->
          <!--<div class="col-md-12">-->
            <!--<div _ngcontent-qmr-c2="" class="card  ">-->
              <!--<div _ngcontent-qmr-c2="" class="card-header card-header-info card-header-icon ">-->
                <!--<div _ngcontent-qmr-c2="" class="card-icon"><i class="fas fa-store"></i>-->
                <!--</div>-->
                <!--<h4 _ngcontent-qmr-c2="" class="card-title"></h4></div>-->
              <!--<div _ngcontent-qmr-c2="" class="card-body ">-->
                <!--<div _ngcontent-qmr-c2="" class="row">-->

                  <!--<div class="card">-->
                    <!--<div class="card-body">-->
                      <!--<div class="row">-->

                        <!--<div class="col-md-2">-->
                          <!--<div class="form-group">-->
                            <!--<label>Select Makelllll</label>-->
                            <!--<br>-->
                            <!--<select class="form-control " data-style="select-with-transition"-->
                                    <!--[(ngModel)]="insertselectedMake" #mySelect-->
                                    <!--(change)="getMakeModelDetails(mySelect.value)">-->

                              <!--<option value="Any">Any</option>-->
                              <!--<option>Abarth</option>-->
                              <!--<option>Acura</option>-->
                              <!--<option>Alfa Romeo</option>-->
                              <!--<option>Ambassador</option>-->
                              <!--<option>Aprilia</option>-->
                              <!--<option>Audi</option>-->
                              <!--<option>Austin</option>-->
                              <!--<option>Bajaj</option>-->
                              <!--<option>BMW</option>-->
                              <!--<option>Cadillac</option>-->
                              <!--<option>Caterpillar</option>-->
                              <!--<option>Nissan</option>-->
                              <!--<option>Suzuki</option>-->
                              <!--<option>Toyota</option>-->
                              <!--<option>Honda</option>-->
                              <!--<option>530i</option>-->


                            <!--</select>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                        <!--<div class="col-md-2">-->
                          <!--<div class="form-group">-->
                            <!--<label>Select Model</label>-->
                            <!--<select class="form-control " data-style="select-with-transition" [(ngModel)]="insertItemModel">-->
                              <!--<option *ngFor="let make of searchMakesByModel" [value]="make.modelName">-->
                                <!--{{make.modelName}}-->
                              <!--</option>-->

                            <!--</select>-->
                          <!--</div>-->

                        <!--</div>-->


                        <!--<br>-->
                        <!--<br>-->
                        <!--<div class="col-md-3">-->
                          <!--<div class="form-group">-->
                            <!--<label style="margin-top: 15px"> Search Item</label>-->
                            <!--<br>-->
                            <!--<input type="text" class="form-control" placeholder="Search Item"-->
                                   <!--[ngModelOptions]="{standalone: true}" [(ngModel)]="searchItem"-->
                                   <!--(keyup)="searchItemDetailsByName($event)" style="margin-top: 9px">-->
                          <!--</div>-->


                        <!--</div>-->

                        <!--<div class="col-md-2">-->

                          <!--<div class="form-group">-->
                            <!--<label>Select Item</label>&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
                            <!--<select class="form-control " data-style="select-with-transition"-->
                                    <!--[(ngModel)]="insertItemName" #mySelect1-->
                                    <!--(change)="getUnitPrice($event)">-->
                              <!--&lt;!&ndash;<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">&ndash;&gt;-->
                              <!--<option *ngFor="let make of searchItemDetails" [value]="make.itemName">-->
                                <!--{{make.itemName}}-->
                              <!--</option>       &lt;!&ndash;Item/Job &lt;!&ndash; Current make data&ndash;&gt;&ndash;&gt;-->
                            <!--</select>&lt;!&ndash;<b class="caret"></b>&ndash;&gt;-->
                          <!--</div>&lt;!&ndash;</a>&ndash;&gt;-->

                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<div class="form-group">-->
                            <!--<label style="margin-top: 15px">Unit Price</label>-->
                            <!--<br>-->
                            <!--<input type="text" class="form-control" placeholder="Unit Price"-->
                                   <!--[ngModelOptions]="{standalone: true}" [(ngModel)]="unitPrice" style="margin-top: 9px" disabled>-->
                          <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<div class="form-group">-->
                            <!--<label>Item Id</label>-->
                            <!--<br>-->
                            <!--<input type="text" class="form-control" placeholder="Item Id"-->
                                   <!--[ngModelOptions]="{standalone: true}" [(ngModel)]="itemId" disabled>-->
                          <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<div class="form-group">-->
                            <!--<label>Quantity</label>-->
                            <!--<br>-->
                            <!--<input type="text" class="form-control" placeholder="Quantity"-->
                                   <!--[ngModelOptions]="{standalone: true}" [(ngModel)]="quantity">-->
                          <!--</div>-->
                        <!--</div>-->


                        <!--<div class="col-md-2">-->
                          <!--<button class="btn btn-success" rel="tooltip" type="button" (click)="addItemToTable()" style="margin-top: 20px">-->
                            <!--Add Detailing Jobs-->
                          <!--</button>-->
                        <!--</div>-->

                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->


                  <!--<div class="col-md-12">-->
                    <!--<div class="card">-->
                      <!--<div-->
                        <!--class="card-header card-header-rose card-header-icon">-->

                        <!--<h4 class="card-title"><b>Detailing Jobs</b></h4></div>-->
                      <!--<div class="card-body">-->
                        <!--<div class="row">-->

                        <!--</div>-->
                        <!--<div class="table-responsive">-->
                          <!--<table class="table">-->
                            <!--<thead>-->
                            <!--<tr>-->
                              <!--<th>Item ID</th>-->
                              <!--<th>Item Description</th>-->
                              <!--<th>Make</th>-->
                              <!--<th>Model</th>-->
                              <!--<th> Quantity</th>-->
                              <!--<th>Price</th>-->
                              <!--<th></th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr *ngFor="let items of jobOrderItemDetailsArray async">-->

                              <!--<td>-->
                                <!--{{items.item.itemId}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.item.itemName}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.make}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.model}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.qty}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.price}}-->
                              <!--</td>-->

                              <!--<td class="td-actions ">-->
                                <!--<button type="button" rel="tooltip" class="btn btn-danger"-->
                                        <!--(click)="deleteRow(items.item.itemId)">-->
                                  <!--<i class="material-icons">close</i>-->
                                <!--</button>-->
                              <!--</td>-->
                            <!--</tr>-->

                            <!--</tbody>-->
                          <!--</table>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->

                <!--<div class="row">-->
                  <!--<div class="col-sm-4"></div>-->
                  <!--<div class="col-sm-4"></div>-->
                  <!--<div class="col-sm-2"></div>-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="form-group">-->
                      <!--<label>Amount</label>-->
                      <!--<input type="text" class="form-control" [ngModelOptions]="{standalone: true}"-->
                             <!--[(ngModel)]="totAmount">-->
                    <!--</div>-->
                  <!--</div>-->



                <!--</div>-->

                <!--<div class="row">-->
                  <!--<div class="col-sm-4"></div>-->
                  <!--<div class="col-sm-4"></div>-->


                  <!--<div class="col-sm-4">-->
                    <!--<button type="submit" class="btn btn-behance pull-right" (click)="addJobOrderToDatabase()">Save Details-->
                    <!--</button>-->
                  <!--</div>-->

                <!--</div>-->


              <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->

              <!--<div class="col-sm-10">-->

              <!--</div>-->
              <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
              <!--&lt;!&ndash;<label>Amount</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" class="form-control" [ngModelOptions]="{standalone: true}"&ndash;&gt;-->
              <!--&lt;!&ndash;[(ngModel)]="totAmount">&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
        <!--<div class="tab-pane" id="link2">-->
          <!--&lt;!&ndash; lube job starts here&ndash;&gt;-->


          <!--&lt;!&ndash;&lt;!&ndash;/////////////////////////////&ndash;&gt; Lube Job&ndash;&gt;-->
          <!--<div class="col-md-12">-->
            <!--<div class="card">-->
              <!--<div class="card-header card-header-success card-header-icon ">-->
                <!--<div _ngcontent-qmr-c2="" class="card-icon"><i class="fas fa-store"></i>-->
                <!--</div>-->
                <!--<h4 class="card-title"></h4></div>-->
              <!--<div class="card-body ">-->
                <!--<div class="row">-->

                  <!--<div class="card">-->
                    <!--<div class="card-body">-->
                      <!--<div class="row">-->
                        <!--<div class="col-md-2">-->

                          <!--<div class="form-group">-->
                            <!--<label>Select Make</label>-->
                            <!--<br>-->
                            <!--<select class="form-control " data-style="select-with-transition"-->
                                    <!--[(ngModel)]="insertselectedMake1" #mySelect-->
                                    <!--(change)="getMakeModelDetails1(mySelect.value)">-->

                              <!--<option value="Any">Any</option>-->
                              <!--<option>Abarth</option>-->
                              <!--<option>Acura</option>-->
                              <!--<option>Alfa Romeo</option>-->
                              <!--<option>Ambassador</option>-->
                              <!--<option>Aprilia</option>-->
                              <!--<option>Audi</option>-->
                              <!--<option>Austin</option>-->
                              <!--<option>Bajaj</option>-->
                              <!--<option>BMW</option>-->
                              <!--<option>Cadillac</option>-->
                              <!--<option>Caterpillar</option>-->
                              <!--<option>Nissan</option>-->
                              <!--<option>Suzuki</option>-->
                              <!--<option>Toyota</option>-->
                              <!--<option>Honda</option>-->
                              <!--<option>530i</option>-->


                            <!--</select>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                          <!--<div class="form-group">-->
                            <!--<label>Select Model</label>-->
                            <!--<select class="form-control " data-style="select-with-transition"-->
                                    <!--[(ngModel)]="insertItemModel1">-->
                              <!--<option *ngFor="let make of searchMakesByModel1" [value]="make.modelName">-->
                                <!--{{make.modelName}}-->
                              <!--</option>-->
                            <!--</select>-->
                          <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-3">-->

                          <!--<div class="form-group">-->
                            <!--<label style="margin-top: 15px"> Search Item</label>-->
                            <!--<br>-->
                            <!--<input type="text" class="form-control" placeholder="Search Item"-->
                                   <!--[ngModelOptions]="{standalone: true}" [(ngModel)]="searchItem1"-->
                                   <!--(keyup)="searchItemDetailsByName1($event)" style="margin-top: 10px">-->
                          <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-2">-->

                          <!--<div class="form-group">-->
                            <!--<label>Select Item</label>&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
                            <!--<select class="form-control " data-style="select-with-transition"-->
                                    <!--[(ngModel)]="insertItemName1" #mySelect1-->
                                    <!--(change)="getUnitPrice1(mySelect1.value)">-->
                              <!--&lt;!&ndash;<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">&ndash;&gt;-->
                              <!--<option *ngFor="let make of searchItemDetails1" [value]="make.itemName">-->
                                <!--{{make.itemName}}-->
                              <!--</option>       &lt;!&ndash;Item/Job &lt;!&ndash; Current make data&ndash;&gt;&ndash;&gt;-->
                            <!--</select>&lt;!&ndash;<b class="caret"></b>&ndash;&gt;-->
                          <!--</div>&lt;!&ndash;</a>&ndash;&gt;-->

                        <!--</div>-->


                        <!--<div class="col-md-2">-->
                          <!--<div class="form-check">-->
                            <!--<label class="form-check-label" style="margin-top: 15px">-->
                              <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"-->
                                     <!--value="Change" [(ngModel)]="type" checked> Change-->
                              <!--<span class="circle">-->
                                                        <!--<span class="check"></span>-->
                                                      <!--</span>-->
                            <!--</label>-->
                          <!--</div>-->
                          <!--<div class="form-check">-->
                            <!--<label class="form-check-label">-->
                              <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"-->
                                     <!--value="Top Up" [(ngModel)]="type"> Top-Up-->
                              <!--<span class="circle">-->
                                                        <!--<span class="check"></span>-->
                                                      <!--</span>-->
                            <!--</label>-->
                          <!--</div>-->

                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<div class="form-group">-->
                            <!--<label>Quantity</label>-->
                            <!--<br>-->
                            <!--<input type="text" class="form-control" placeholder="Quantity"-->
                                   <!--[ngModelOptions]="{standalone: true}" [(ngModel)]="quantity1">-->
                          <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<div class="form-group">-->
                            <!--<label>Unit Price</label>-->
                            <!--<br>-->
                            <!--<input type="text" class="form-control" placeholder="Unit Price"-->
                                   <!--[ngModelOptions]="{standalone: true}" [(ngModel)]="unitPrice1" disabled>-->
                          <!--</div>-->
                        <!--</div>-->


                        <!--<div class="col-md-2">-->
                          <!--<button class="btn btn-success" rel="tooltip" type="button" (click)="addToItemsTable1()" style="margin-top: 20px">-->
                            <!--ADDS-->
                          <!--</button>-->
                        <!--</div>-->

                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->


                  <!--<div class="col-md-12">-->
                    <!--<div class="card">-->
                      <!--<div-->
                        <!--class="card-header card-header-rose card-header-icon">-->

                        <!--<h4 class="card-title"><b>Lube Jobs</b></h4></div>-->
                      <!--<div class="card-body">-->
                        <!--<div class="row">-->

                        <!--</div>-->
                        <!--<div class="table-responsive">-->
                          <!--<table class="table">-->
                            <!--<thead>-->
                            <!--<tr>-->
                              <!--<th>Item Description</th>-->
                              <!--<th>Make</th>-->
                              <!--<th>Change-Top-Up</th>-->
                              <!--<th>Model</th>-->
                              <!--<th> Quantity</th>-->
                              <!--<th>Price</th>-->
                              <!--<th></th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->

                            <!--<tr *ngFor="let items of lubejobOrderItemDetailsArray1 async">-->
                              <!--<td>-->
                                <!--{{items.item.itemName}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.make}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.lubeJobType}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.model}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.qty}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{items.price}}-->
                              <!--</td>-->

                              <!--<td class="td-actions ">-->
                                <!--<button type="button" rel="tooltip" class="btn btn-danger"-->
                                        <!--(click)="deleteRow1(items.item.itemId)">-->
                                  <!--<i class="material-icons">close</i>-->
                                <!--</button>-->
                              <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                          <!--</table>-->


                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->




                <!--</div>-->

                <!--<div class="row">-->

                  <!--<div class="col-sm-10">-->

                  <!--</div>-->
                  <!--<div class="col-sm-2">-->
                    <!--<div class="form-group">-->
                      <!--<label>Amount</label>-->
                      <!--<input type="text" class="form-control" [ngModelOptions]="{standalone: true}"-->
                             <!--[(ngModel)]="totAmount">-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->

                <!--<div class="row">-->
                  <!--<div class="col-sm-4"></div>-->
                  <!--<div class="col-sm-4"></div>-->


                  <!--<div class="col-sm-4">-->
                    <!--<button type="submit" class="btn btn-behance pull-right" (click)="addJobOrderToDatabase()">Save Details-->
                    <!--</button>-->
                  <!--</div>-->

                <!--</div>-->


              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="tab-pane" id="link3">-->

          <!--<div class="col-md-12">-->
            <!--<div class="card">-->
              <!--<div class="card-header card-header-success card-header-icon ">-->
                <!--<div class="card-icon"><i class="fas fa-car"></i>-->
                <!--</div>-->
                <!--<h4 class="card-title"></h4></div>-->


              <!--<div class="card-body ">-->
                <!--<div class="row">-->

                  <!--<div class="card">-->
                    <!--<div class="card-body">-->
                      <!--<div class="row">-->
                        <!--<div class="col-md-3">-->

                          <!--<div class="form-group">-->
                            <!--<label>Select Service</label>-->
                            <!--<select class="form-control " data-style="select-with-transition"-->
                                    <!--[(ngModel)]="insertSelectedServiceType" #mySelect24-->
                                    <!--(change)="sendIdToAddService(mySelect24.value)">-->

                              <!--<option *ngFor="let serviceVehi of allServicesDescArray" [value]="serviceVehi.serviceId">-->
                                <!--{{serviceVehi.serviceDesc}}-->
                              <!--</option>-->

                            <!--</select>-->
                          <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-2">-->
                          <!--&lt;!&ndash;<button class="btn btn-success" rel="tooltip" type="button" (click)="searchServiceByIdAndAddToList()">&ndash;&gt;-->
                          <!--&lt;!&ndash;<i class="material-icons">add</i>&ndash;&gt;-->
                          <!--&lt;!&ndash;</button>&ndash;&gt;-->

                          <!--<button class="btn btn-success" rel="tooltip" type="button" (click)="searchServiceByIdAndAddToList()" style="margin-top: 20px">-->
                            <!--ADD-->
                          <!--</button>-->
                        <!--</div>-->

                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->


                  <!--<div class="col-md-12">-->
                    <!--<div class="card">-->
                      <!--<div-->
                        <!--class="card-header card-header-rose card-header-icon">-->

                        <!--<h4 class="card-title"><b>Service Jobs</b></h4></div>-->
                      <!--<div class="card-body">-->
                        <!--<div class="row">-->

                        <!--</div>-->
                        <!--<div class="table-responsive">-->
                          <!--<table class="table">-->
                            <!--<thead>-->
                            <!--<tr>-->
                              <!--<th>Service</th>-->
                              <!--<th>Service Description</th>-->
                              <!--<th>Vehicle Class</th>-->
                              <!--<th>Price</th>-->
                              <!--<th></th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->

                            <!--<tr *ngFor="let servicesall of servicesOfTheServiceJobArrray async">-->
                              <!--<td>-->
                                <!--{{servicesall.serviceName}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{servicesall.serviceDesc}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{servicesall.vehicletype}}-->
                              <!--</td>-->
                              <!--<td>-->
                                <!--{{servicesall.servicePrice}}-->
                              <!--</td>-->
                              <!--<td class="td-actions ">-->

                                <!--<button type="button" rel="tooltip" class="btn btn-danger"-->
                                        <!--(click)="deleteRow()">-->
                                  <!--<i class="material-icons">close</i>-->
                                <!--</button>-->
                              <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                          <!--</table>-->

                          <!--<div class="col-md-2">-->
                            <!--<button class="btn btn-success" rel="tooltip" type="button" (click)="addToServiceJob()">-->
                              <!--<i class="material-icons">add</i>-->
                            <!--</button>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->



      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-4"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-4"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="col-sm-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="submit" class="btn btn-behance pull-right" (click)="addJobOrderToDatabase()">Save Details&ndash;&gt;-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <!--<div class="page-categories">-->


      <!--<div class="tab-content  tab-space tab-subcategories">-->

        <!--<div class="tab-pane active" id="link8">-->
          <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">

              <div class="row">

                <div class="col-md-2">
                  <div class="form-group">
                    <label>Vehilce Number</label>
                    <br>
                    <input type="text" id="vehiNumber" class="form-control" (keyup)="searchVehicleDetailsByNumber()"
                           [(ngModel)]="searchVehicleNumber">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>

                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>
                      Chassis number</label>
                    <br>
                    <input type="text" id="vehiEngineNumber" class="form-control" name="engineNumber"
                           [(ngModel)]="engineNumber">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Vehicle Class</label>
                    <br>
                    <input type="text" id="vehiClass" class="form-control" name="engineNumber" [(ngModel)]="vehicleClass">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Make</label>
                    <br>
                    <input type="text" id="vehiMake" class="form-control" name="engineNumber" [(ngModel)]="vehicleMake">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Model</label>
                    <br>
                    <input type="text" id="vehiModel" class="form-control" name="engineNumber" [(ngModel)]="vehicleModel">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Year</label>
                    <br>
                    <input type="text" id="vehiYear" class="form-control" name="engineNumber" [(ngModel)]="yearOfManufacture">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Customer Name</label>
                    <br>
                    <input type="text" id="custName" class="form-control" name="engineNumber" [(ngModel)]="customername">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>

                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Customer Phone Number</label>
                    <br>
                    <input type="text" id="custPhoneNum" class="form-control" name="engineNumber" [(ngModel)]="customerphone">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Customer Email</label>
                    <br>
                    <input type="text" id="custEmail" class="form-control" name="engineNumber" [(ngModel)]="customeremail">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Customer Address</label>
                    <br>
                    <input type="text" id="custAddress" class="form-control" name="engineNumber"
                           [(ngModel)]="customeraddress">
                    <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">

                  <div class="form-group">
                    <label>Select Service</label>
                    <select class="form-control " data-style="select-with-transition"
                            [(ngModel)]="insertSelectedServiceType" #mySelect24
                            (change)="sendIdToAddService(mySelect24.value)">

                      <option *ngFor="let serviceVehi of allServicesDescArray" [value]="serviceVehi.serviceId">
                        {{serviceVehi.serviceName}}
                      </option>

                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <!--<button class="btn btn-success" rel="tooltip" type="button" (click)="searchServiceByIdAndAddToList()">-->
                  <!--<i class="material-icons">add</i>-->
                  <!--</button>-->

                  <button class="btn btn-success" (click)="searchServiceByIdAndAddToList()"style="margin-top: 35px">Add</button>
                  <!--<button class="btn btn-success" rel="tooltip" type="button" (click)="searchServiceByIdAndAddToList()" style="margin-top: 20px">-->
                    <!--ADD-->
                  <!--</button>-->
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div
                    class="card-header card-header-rose card-header-icon">

                    <h4 class="card-title"><b>Service Jobs</b></h4></div>
                  <div class="card-body">
                    <div class="row">

                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Service</th>
                          <th>Service Description</th>
                          <th>Vehicle Class</th>
                          <th>Price</th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let servicesall of servicesOfTheServiceJobArrray async">
                          <td>
                            {{servicesall.serviceName}}
                          </td>
                          <td>
                            {{servicesall.serviceDesc}}
                          </td>
                          <td>
                            {{servicesall.vehicletype}}
                          </td>
                          <td>
                            {{servicesall.servicePrice}}
                          </td>
                          <td class="td-actions ">

                            <button type="button" rel="tooltip" class="btn btn-danger"
                                    (click)="deleteRow()">
                              <i class="fas fa-times"></i>
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <div class="col-md-2">
                        <!--<button class="btn btn-success" rel="tooltip" type="button" (click)="addToServiceJob()">-->
                          <!--<i class="material-icons">add</i>-->
                        <!--</button>-->
                        <!--<button class="btn btn-info " (click)="addToServiceJob()" style="margin-left: 650px" >Preview</button>-->

                        <button class="btn btn-info "  data-toggle="modal" data-target="#noticeModal" style="margin-left: 650px" >Preview</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>


<div class="modal fade" id="noticeModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel">Print Preview Of Service Details</h5>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="fas fa-times"></i>
      </button>
      </div>
      <div class="modal-body">
        <div class="instruction">

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Service Id : </label>
              </div>

            </div>
            <div class="col-md-3">
              <div class="form-group">

                <label style="color: black ; font-size: 20px ;margin-left: -40px;margin-top: -10px" > {{this.lastId.serviceJobId}} </label>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>

            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Date: </label>

              </div>

            </div>
            <div class="col-md-3">
              <div class="form-group">

                <label style="color: black ; font-size: 20px ;margin-left: -40px;margin-top: -10px" > {{ todayDate}} </label>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>

            </div>
          </div>
          <div class="row">

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Vehilce Number</label>
                        <br>
                        <input type="text" id="vehiNumber1" class="form-control" (keyup)="searchVehicleDetailsByNumber()"
                               [(ngModel)]="searchVehicleNumber" disabled>
                        <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                      </div>

                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>
                          Chassis number</label>
                        <br>
                        <input type="text" id="vehiEngineNumber2" class="form-control" name="engineNumber"
                               [(ngModel)]="engineNumber" disabled>
                        <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
                      </div>
                    </div>


          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Vehicle Class</label>
                <br>
                <input type="text" id="vehiClass1" class="form-control" name="engineNumber" [(ngModel)]="vehicleClass" disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Make</label>
                <br>
                <input type="text" id="vehiMake1" class="form-control" name="engineNumber" [(ngModel)]="vehicleMake" disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Model</label>
                <br>
                <input type="text" id="vehiModel1" class="form-control" name="engineNumber" [(ngModel)]="vehicleModel" disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Year</label>
                <br>
                <input type="text" id="vehiYear1" class="form-control" name="engineNumber" [(ngModel)]="yearOfManufacture" disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-5">
              <div class="form-group">
                <label>Customer Name</label>
                <br>
                <input type="text" id="custName1" class="form-control" name="engineNumber" [(ngModel)]="customername" disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>

            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Customer Phone Number</label>
                <br>
                <input type="text" id="custPhoneNum1" class="form-control" name="engineNumber" [(ngModel)]="customerphone" disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Customer Email</label>
                <br>
                <input type="text" id="custEmail1" class="form-control" name="engineNumber" [(ngModel)]="customeremail" disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Customer Address</label>
                <br>
                <input type="text" id="custAddress1" class="form-control" name="engineNumber"
                       [(ngModel)]="customeraddress"disabled>
                <!--name="engineNumber" [(ngModel)]="vehNgModel.engineNumber"-->
              </div>
            </div>
          </div>
        </div>
        <div class="instruction">

          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Service</th>
                <th>Price</th>
                <th></th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let servicesall of servicesOfTheServiceJobArrray async">
                <td>
                  {{servicesall.serviceName}}
                </td>

                <td>
                  {{servicesall.servicePrice}}
                </td>

              </tr>
              <tr>
                <td>

                </td>

                <td>
                Total : {{this.serviceOrder.total }}
                </td>
              </tr>
              </tbody>
            </table>


          </div>
          <!--<div class="row">-->
          <!--<div class="col-md-8">-->
          <!--<strong>2. Apply</strong>-->
          <!--<p class="description">The first step is to create an account at-->
          <!--<a href="http://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
          <!--<div class="picture">-->
          <!--<img src="../../assets/img/card-2.jpg" alt="Thumbnail Image" class="rounded img-fluid">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info btn-round" data-dismiss="modal" (click)="addToServiceJob()" >PrintPdf</button>
      </div>
    </div>
  </div>
</div>
