<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black"  data-image="assets/img/sidebar-1.jpg">

        <div class="logo">
            <!--<a href="" class="simple-text logo-mini">-->
            <!---->
            <!--</a>-->
            <a href="" class="simple-text logo-normal" style="margin-left: 30px">
               &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Tourismo
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item" [ngClass]="{'active': headerText=='Dashboard'}" (click)="changeRoute(dashboard.innerHTML)">
                    <a class="nav-link">
                      <i class="fas fa-home"></i>

                      <p #dashboard>Dashboard</p>
                        <!--<i class="material-icons">dashboard</i>-->
                        <!--<p #dashboard>Dashboard</p>-->
                    </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': headerText=='Employees'}" (click)="changeRoute(employee.innerHTML)">
                    <a class="nav-link">
                      <i class="fas fa-users"></i>
                        <p #employee>Employees</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#formsExamples">
                      <i class="fas fa-car"></i>
                        <p> Customer Vehicle Details
                            <b class="caret"></b>
                        </p>
                    </a>

                    <div class="collapse" id="formsExamples">
                        <ul class="nav">

                            <li class="nav-item " [ngClass]="{'active': headerText=='SearchVehicle'}" (click)="changeRoute(searchVehicle.innerHTML)">
                                <a class="nav-link" >
                                    <span class="sidebar-mini"> SV </span>
                                    <span class="sidebar-normal" #searchVehicle>SearchVehicle</span>
                                </a>
                            </li>
                            <li class="nav-item " [ngClass]="{'active': headerText=='AddVehicle'}" (click)="changeRoute(addVehicle.innerHTML)">
                                <a class="nav-link" >
                                    <span class="sidebar-mini"> VF </span>
                                    <span class="sidebar-normal" #addVehicle>AddVehicle</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                
                <li class="nav-item" [ngClass]="{'active': headerText=='Supplier'}" (click)="changeRoute(supplier.innerHTML)">
                    <a class="nav-link">
                      <i class="fas fa-truck-moving"></i>
                        <p #supplier>Supplier</p>
                    </a>
                </li>

              <li class="nav-item" [ngClass]="{'active': headerText=='Stock Management'}" (click)="changeRoute(StockManagement.innerHTML)">
                <a class="nav-link">
                  <i class="fas fa-box-open"></i>
                  <p #StockManagement>Stock Management</p>
                </a>
              </li>

              <li class="nav-item" [ngClass]="{'active': headerText=='Service Management'}" (click)="changeRoute(ServiceManagement.innerHTML)">
                <a class="nav-link">
                  <i class="fas fa-shower"></i>
                  <p #ServiceManagement>Service Management</p>
                </a>
              </li>
                <li class="nav-item " [ngClass]="{'active': headerText=='JobOrder Management'}" (click)="changeRoute(jobOrderManagement.innerHTML)">
                    <a class="nav-link">
                      <i class="fas fa-receipt"></i>

                        <p #jobOrderManagement>JobOrder</p>
                    </a>
                </li>
                
                <li class="nav-item ">


                    <a class="nav-link" href="#formsExamples1" data-toggle="collapse">
                      <i class="fas fa-clipboard-list"></i>
                        <p> Report
                          <b class="caret"></b>
                        </p>
                    </a>

                  <div class="collapse" id="formsExamples1">
                    <ul class="nav">

                      <li class="nav-item " [ngClass]="{'active': headerText=='SearchVehicle'}" (click)="changeRoute(LowStockLevel.innerHTML)">
                        <a class="nav-link" >
                          <span class="sidebar-mini"> LSL </span>
                          <span class="sidebar-normal" #LowStockLevel>LowStockLevel</span>
                        </a>
                      </li>

                    </ul>
                  </div>
                </li>
             
            </ul>
        </div>
    </div>
    <div class="main-panel">


        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#pablo">{{headerText}}</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo"><i class="fas fa-bell"></i></a>
                        </li>
                        <!-- your navbar here -->
                    </ul>
                </div>
            </div>

            <div class="navbar-form"></div>

        </nav>
        <div class="content">

            <router-outlet></router-outlet>

        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="">

                            </a>
                        </li>
                    </ul>
                </nav>
                <!--<div class="copyright float-right">-->
                <!--&copy;-->
                <!--<script>-->
                <!--document.write(new Date().getFullYear())-->
                <!--</script>, made with <i class="material-icons">favorite</i> by-->
                <!--<a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.-->
                <!--</div>-->
                <!-- your footer here -->
            </div>
        </footer>

</div>
</div>



