<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fas fa-users"></i>
        </div>
        <h4 class="card-title">View Vehicle History</h4>
      </div>
      <div class="card-body">
        <div class="row" >
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating"><i class="fas fa-search"></i>Search By Vehicle Number</label>

              <!--<input type="text" class="form-control" [(ngModel)]="searchvehicleNumber"><input type="text" class="form-control" [(ngModel)]="searchvehicleNumber">-->

            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>

              <th class="text-center">Date</th>
              <th class="text-center">Mileage</th>
              <th class="text-center">Services</th>
              <th class="text-center">Items</th>

            </tr>
            </thead>
            <tbody>
            <!--<tr *ngFor="let item of items |filter:searchPartNumber |paginate :{ itemsPerPage :10, currentPage :paginationNumber}">-->



              <!--<td class="text-center">-->
                <!--{{item.itemId}}-->
              <!--</td>-->
              <!--<td class="text-center">-->
                <!--{{item.itemName}}-->
              <!--</td>-->
              <!--<td style="color: red; font-size: 25px ;font-style: inherit" class="text-center">-->
                <!--{{item.itemQuantityType}}-->
              <!--</td>-->
              <!--<td style="color: red; font-size: 25px ;font-style: inherit" class="text-center">-->
                <!--{{item.quantityOnHand}}-->
              <!--</td>-->
              <!--<td style="color: red; font-size: 25px ;font-style: inherit" class="text-center">-->
                <!--{{item.quantityOfPrice}}-->
              <!--</td>-->
            <!--</tr>-->

            </tbody>
            <!--<pagination-controls (pageChange)="paginationNumber=$event"></pagination-controls>-->
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
